/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.jpg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
}

body {
  /* background: imagem, sem repetição, centralizado/cobrindo tudo*/
  background: var(--bg-url) no-repeat center/cover;
  height: 100vh;
}

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 50px auto 0px;
  padding: 0 24px;
}

/* profile */
#profile {
  text-align: justify;
  padding: 24px;
}

#profile img {
  width: 350px;
  margin: auto;
  display: block;
  border-radius: 25px;
}

/* frase abaixo da img profile */
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur (4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}

#social-links {
  width: center;
  margin: auto;
}