/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.jpg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
}

body {
  /* background: imagem, sem repetição, centralizado/cobrindo tudo*/
  background: var(--bg-url) no-repeat center/cover;
  height: 100vh;
}

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

#container {
  border: 2px solid red;
  width: 100%;
  max-width: 588px;
  margin: 50px auto 0px;
  padding: 0 24px;
}

#profile {
  border: 2px solid yellow;
  padding: 24px;
}

/* imagem do profile */
#profile img {
  width: 350px;
  margin: auto;
  display: block;
  border-radius: 25px;
}

/* frase abaixo da img profile */
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
}

#social-links {
  width: center;
  margin: auto;
}